@model List<airport.Models.AirportInfoAPI.Response.Restaurants>

<div class="text-center py-4">
    <h1 class="text-2xl font-bold text-gray-800 animate-bounce">@ViewBag.AirportName Restaurants</h1>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
    @foreach (var restaurant in Model)
    {
        <div class="card bg-white shadow-lg rounded-lg overflow-hidden">
            <img class="w-full h-48 object-cover" src="@restaurant?.PhotoImgUrl?? 'default-image-url.jpg'" alt="@restaurant?.Name?? 'Default Restaurant Name'" />
            <img class="w-24 h-24 object-cover mx-auto mt-4" src="@restaurant?.AppImgUrl?? 'default-app-icon-url.png'" alt="App Icon" />
            <div class="p-4">
                <h2 class="text-xl font-semibold mb-2">@restaurant?.Name</h2>               
                <p class="mb-1">@restaurant?.Telephone</p>
                <p class="mb-1">@restaurant?.OpeningHours</p>
                <ul class="list-disc pl-5 mb-2">
                    <h3>Kategorier:</h3>
                    <ul>
                        @if (restaurant?.Categories != null)
                        {
                            foreach (var category in restaurant.Categories)
                            {
                                <li>@category.categoryLocalizedDescription</li>
                            }
                        }
                    </ul>
                </ul>
                <h3>Nyckelord:</h3>
                <ul>
                    @if (restaurant?.Keywords != null)
                    {
                        foreach (var keyword in restaurant.Keywords)
                        {
                            <li>@keyword</li>
                        }
                    }
                </ul>
                <div class="grid grid-cols-2 gap-2">
                    @if (restaurant?.Location != null && restaurant.Location.TerminalName != null)
                    {
                        <div class="border p-2 rounded">
                            <p>@restaurant.Location.TerminalName - @restaurant.Location.Place (@(restaurant.Location.BeforeSecurity ? "Before Security" : "After Security"))</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
